#mapa {
    height: 100vh;
    width: 100%;
}

.coquimbo,
.lagos, .biobio {
    fill: lightblue;
}
/* 
.coquimbo:hover,
.lagos:hover {
    fill: coral;
    cursor: pointer;
} */

.valpo
 {
    fill: lightsalmon;
}

.valpo:hover
 {
    fill: coral;
    cursor: pointer;
}


.fade-in-image {
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
}

/*
.zona-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
*/
.chapter-container {
    position: relative;
}

/*
.map-container{
    justify-content: space-between;
}
*/
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

